<%- include('header.ejs') %>
    <main>
        <% if(locals.randData){%>
            <%- include('random.ejs') %>
                <% } %>
                    <% if(locals.searchData) { %>
                        <%- include('search.ejs') %>
                            <% } %>
    </main>

    <%- include('footer.ejs') %>